@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-variation-settings:
	  "wdth" 100,
	  "YTLC" 500;
  }

html, body, #root {
	height: 100%;
	margin: 0;
	padding: 0;
}
