@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html, body, #root {
	height: 100%;
	margin: 0;
	padding: 0;
}
